In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import string
import re

In [2]:
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [3]:
df = pd.read_csv('hotel-reviews.csv')

In [4]:
df.head(2)

,User_ID,Description,Browser_Used,Device_Used,Is_Response
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy

In [5]:
a = pd.get_dummies(df.Is_Response,prefix='res')

In [6]:
df_label = pd.concat([df,a],axis=1)

In [7]:
df_label.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response,res_happy,res_not happy
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy,0,1
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy,0,1
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy,0,1
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy,1,0
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy,0,1

In [8]:
df1 = df_label.drop(columns=['Is_Response','res_not happy'])

In [9]:
df1.describe(include="O")

,User_ID,Description,Browser_Used,Device_Used
count,38932,38932,38932,38932
unique,38932,38932,11,3
top,id23344,I stayed at the Renaissance for six nights and...,Firefox,Desktop
freq,1,1,7367,15026

In [10]:
def text_process(text):
#   word = text.lower()
#   word = word.split()
    word = re.sub('[^A-za-z]',' ',text)
    word = word.lower()
    word = word.split()
    word = [words for words in word if words not in stopwords.words('english')]
    word = [WordNetLemmatizer().lemmatize(words) for words in word]
    word = ' '.join(word)
    return word

In [11]:
df1['Reviews'] = df1['Description'].iloc[:].apply(text_process)

In [12]:
df1.head()

,User_ID,Description,Browser_Used,Device_Used,res_happy,Reviews
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,0,room kind clean strong smell dog generally ave...
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,0,stayed crown plaza april april staff friendly ...
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,0,booked hotel hotwire lowest price could find g...
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,1,stayed husband son way alaska cruise loved hot...
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,0,girlfriend stayed celebrate th birthday planne...

In [14]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
cv = CountVectorizer()
X = cv.fit_transform(df1['Reviews'].iloc[:10000]).toarray()
# X = df1['Reviews']
y = df1['res_happy'].iloc[:10000]

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 0)

In [15]:
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB()
classifier.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [16]:
y_pred = classifier.predict(X_test)

In [17]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [18]:
cm

array([[ 696,  263],
       [ 145, 1896]], dtype=int64)

In [19]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.83      0.73      0.77       959
           1       0.88      0.93      0.90      2041

    accuracy                           0.86      3000
   macro avg       0.85      0.83      0.84      3000
weighted avg       0.86      0.86      0.86      3000

In [20]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.864

In [13]:
from tensorflow import keras
from tensorflow.keras.layers import Dense,Embedding
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.preprocessing.text import Tokenizer,text_to_word_sequence
from tensorflow.keras.preprocessing import sequence
# max_feature = 2000

In [122]:
X_train,X_test,y_train,y_test = train_test_split(df1['Reviews'],df1['res_happy'],test_size = 0.3,random_state = 0)

In [123]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(X_train)

In [124]:
train_X = tokenizer.texts_to_sequences(X_train)
test_X = tokenizer.texts_to_sequences(X_test)

In [125]:
vocab_size = len(tokenizer.word_index) + 1

In [126]:
from keras.preprocessing.sequence import pad_sequences
max_len = 100
train_X = pad_sequences(train_X,padding='post',maxlen=max_len)
test_X = pad_sequences(test_X,padding='post',maxlen=max_len)

In [129]:
batch_size = 32
model = Sequential()
model.add(Embedding(input_dim = vocab_size,output_dim = 128,input_length = max_len))
model.add(LSTM(max_len,dropout = 0.2))
model.add(Dense(1,activation='sigmoid'))
model.compile(loss = 'binary_crossentropy', optimizer='adam',metrics = ['accuracy'])
print(model.summary())

WARNING: Logging before flag parsing goes to stderr.
W0407 11:02:52.580204  3376 deprecation.py:506] From C:\Users\n_int\Anaconda3\lib\site-packages\tensorflow\python\keras\initializers.py:119: calling RandomUniform.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
W0407 11:02:52.773521  3376 deprecation.py:506] From C:\Users\n_int\Anaconda3\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
W0407 11:02:53.455140  3376 deprecation.py:323] From C:\Users\n_int\Anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 100, 128)          4501888
_________________________________________________________________
lstm (LSTM)                  (None, 100)               91600
_________________________________________________________________
dense (Dense)                (None, 1)                 101
=================================================================
Total params: 4,593,589
Trainable params: 4,593,589
Non-trainable params: 0
_________________________________________________________________
None

In [113]:
tokenizer.

OrderedDict([('good', 13459),
             ('thing', 4290),
             ('say', 2862),
             ('hotel', 55524),
             ('location', 13335),
             ('service', 11039),
             ('unfriendly', 108),
             ('tea', 903),
             ('coffee', 3698),
             ('making', 897),
             ('facility', 1142),
             ('room', 58389),
             ('machine', 950),
             ('lobby', 5459),
             ('charged', 769),
             ('anything', 1610),
             ('black', 326),
             ('turned', 709),
             ('night', 15775),
             ('hot', 2364),
             ('water', 3198),
             ('bag', 1341),
             ('available', 2159),
             ('wanted', 2017),
             ('milk', 283),
             ('told', 3107),
             ('fridge', 1265),
             ('behind', 594),
             ('counter', 405),
             ('hard', 1313),
             ('would', 15660),
             ('sheet', 935),
             ('towel', 1874),
             ('wafer', 3),
             ('thin', 591),
             ('wall', 2097),
             ('read', 1004),
             ('trip', 3819),
             ('advisor', 260),
             ('quaint', 120),
             ('older', 667),
             ('style', 791),
             ('thought', 1677),
             ('like', 7779),
             ('youth', 27),
             ('hostel', 139),
             ('family', 2716),
             ('second', 1677),
             ('vaction', 4),
             ('chicago', 1548),
             ('kid', 1702),
             ('stay', 18918),
             ('time', 13079),
             ('hoping', 125),
             ('change', 856),
             ('better', 3435),
             ('first', 5090),
             ('year', 2839),
             ('ago', 457),
             ('still', 2516),
             ('start', 851),
             ('review', 3004),
             ('downtown', 3180),
             ('walk', 5709),
             ('many', 3761),
             ('area', 8396),
             ('city', 4481),
             ('navy', 180),
             ('pier', 413),
             ('block', 3824),
             ('mag', 59),
             ('mile', 930),
             ('four', 1451),
             ('resturants', 74),
             ('bad', 2330),
             ('owned', 63),
             ('hilton', 1566),
             ('inc', 18),
             ('whch', 2),
             ('known', 203),
             ('atmosphere', 550),
             ('car', 3527),
             ('pay', 1917),
             ('day', 10013),
             ('think', 2512),
             ('free', 6412),
             ('maybe', 928),
             ('people', 4291),
             ('next', 5480),
             ('honor', 232),
             ('member', 1262),
             ('check', 6079),
             ('early', 1949),
             ('put', 1707),
             ('non', 789),
             ('part', 1654),
             ('lower', 496),
             ('half', 963),
             ('noise', 3270),
             ('street', 5151),
             ('nice', 12952),
             ('clean', 11287),
             ('want', 3456),
             ('sit', 550),
             ('fill', 138),
             ('breakfast', 10117),
             ('resturant', 81),
             ('eat', 1513),
             ('looking', 2168),
             ('person', 1445),
             ('staying', 3195),
             ('need', 4098),
             ('go', 5557),
             ('across', 2327),
             ('two', 5990),
             ('egg', 710),
             ('alright', 50),
             ('domonick', 1),
             ('grocery', 247),
             ('store', 1075),
             ('full', 1952),
             ('everyting', 6),
             ('complaint', 1436),
             ('internet', 2728),
             ('floor', 7227),
             ('several', 1813),
             ('happy', 1597),
             ('traveling', 662),
             ('elevator', 2860),
             ('business', 3555),
             ('center', 2450),
             ('use', 3070),
             ('printer', 174),
             ('min', 1031),
             ('highway', 319),
             ('robbery', 16),
             ('someone', 1270),
             ('print', 286),
             ('cent', 55),
             ('page', 80),
             ('bring', 751),
             ('game', 601),
             ('ticket', 475),
             ('document', 33),
             ('bar', 5150),
             ('open', 1844),
             ('pm', 1825),
             ('vacationer', 12),
             ('drink', 1781),
             ('beer', 414),
             ('wine', 1410),
             ('scotch', 13),
             ('morning', 3920),
             ('close', 4591),
             ('stupidiest', 1),
             ('every', 3349),
             ('seen', 733),
             ('wife', 1344),
             ('watching', 264),
             ('tv', 3030),
             ('got', 5207),
             ('bartender', 259),
             ('said', 2873),
             ('closed', 704),
             ('evening', 1965),
             ('slow', 802),
             ('u', 11250),
             ('timmy', 1),
             ('toole', 1),
             ('also', 8429),
             ('using', 706),
             ('watch', 548),
             ('turn', 844),
             ('away', 4044),
             ('one', 13766),
             ('hour', 3375),
             ('closing', 135),
             ('really', 6770),
             ('star', 1831),
             ('lose', 55),
             ('money', 1922),
             ('tip', 841),
             ('domonicks', 1),
             ('get', 9796),
             ('back', 6645),
             ('drinking', 110),
             ('law', 99),
             ('cheaper', 434),
             ('way', 3728),
             ('fun', 1023),
             ('doubletree', 250),
             ('hungry', 88),
             ('attitude', 417),
             ('give', 1617),
             ('care', 1127),
             ('left', 2247),
             ('garden', 524),
             ('suburb', 37),
             ('high', 2043),
             ('horse', 31),
             ('act', 104),
             ('never', 3545),
             ('whole', 974),
             ('make', 3941),
             ('judgement', 10),
             ('great', 18056),
             ('husband', 1953),
             ('stayed', 11749),
             ('starwood', 297),
             ('five', 712),
             ('seeking', 35),
             ('romance', 30),
             ('beautiful', 2271),
             ('excellent', 4117),
             ('right', 4846),
             ('near', 1994),
             ('airport', 2589),
             ('airplane', 61),
             ('upgraded', 995),
             ('club', 1302),
             ('core', 39),
             ('lounge', 1333),
             ('top', 2113),
             ('amazing', 1694),
             ('view', 5893),
             ('bay', 696),
             ('listen', 100),
             ('see', 3090),
             ('site', 1234),
             ('gas', 166),
             ('lamp', 319),
             ('district', 795),
             ('sight', 585),
             ('seeing', 431),
             ('disneyland', 27),
             ('drive', 790),
             ('safari', 7),
             ('minute', 4753),
             ('zoo', 209),
             ('balboa', 58),
             ('park', 3152),
             ('sea', 307),
             ('world', 824),
             ('highly', 1384),
             ('recommend', 3977),
             ('incredibly', 451),
             ('staff', 17314),
             ('wonderful', 2759),
             ('especially', 1728),
             ('concierge', 2003),
             ('helped', 585),
             ('plan', 691),
             ('thank', 783),
             ('chantelle', 1),
             ('satisfied', 204),
             ('thankful', 38),
             ('romantic', 229),
             ('getaway', 297),
             ('marriott', 1293),
             ('marquis', 93),
             ('located', 2684),
             ('square', 3575),
             ('tourism', 30),
             ('ok', 1686),
             ('average', 1078),
             ('spacious', 2272),
             ('central', 1872),
             ('bubble', 20),
             ('lift', 438),
             ('touch', 1057),
             ('sofitel', 212),
             ('new', 5036),
             ('york', 2305),
             ('th', 4540),
             ('st', 1269),
             ('november', 185),
             ('fantastice', 1),
             ('used', 1975),
             ('europe', 115),
             ('disappointed', 1015),
             ('chose', 761),
             ('based', 550),
             ('experience', 3448),
             ('tripadvisor', 319),
             ('rather', 1010),
             ('hairy', 8),
             ('ride', 764),
             ('manhattan', 831),
             ('ny', 1018),
             ('cab', 1164),
             ('arrived', 2650),
             ('front', 7053),
             ('door', 5104),
             ('sure', 2536),
             ('pick', 581),
             ('official', 40),
             ('stand', 403),
             ('jfk', 149),
             ('driver', 519),
             ('detail', 501),
             ('charge', 2066),
             ('fixed', 362),
             ('fare', 225),
             ('plus', 1596),
             ('toll', 48),
             ('straight', 293),
             ('take', 3271),
             ('luggage', 1134),
             ('headed', 133),
             ('inside', 759),
             ('swift', 36),
             ('efficient', 776),
             ('spotless', 392),
             ('well', 7516),
             ('equipped', 338),
             ('true', 394),
             ('bed', 11678),
             ('heaven', 75),
             ('situated', 373),
             ('stroll', 121),
             ('picked', 413),
             ('tour', 826),
             ('bus', 1432),
             ('bought', 197),
             ('pas', 400),
             ('gray', 52),
             ('line', 1834),
             ('caught', 121),
             ('traffic', 695),
             ('middle', 812),
             ('guide', 113),
             ('load', 192),
             ('little', 5186),
             ('secret', 54),
             ('tell', 801),
             ('easy', 2685),
             ('avenue', 768),
             ('rockerfella', 8),
             ('centre', 559),
             ('empire', 540),
             ('state', 920),
             ('building', 2537),
             ('grand', 826),
             ('infact', 16),
             ('red', 488),
             ('flame', 14),
             ('diner', 362),
             ('massive', 151),
             ('portion', 154),
             ('enough', 2757),
             ('last', 2108),
             ('ate', 696),
             ('locally', 28),
             ('ruby', 22),
             ('along', 865),
             ('broadway', 561),
             ('place', 8785),
             ('selection', 646),
             ('burger', 244),
             ('chip', 160),
             ('friendly', 7716),
             ('met', 500),
             ('greeted', 687),
             ('politely', 60),
             ('passed', 176),
             ('much', 4689),
             ('easier', 133),
             ('email', 345),
             ('everyone', 1324),
             ('send', 232),
             ('postcard', 21),
             ('checkout', 401),
             ('quick', 1197),
             ('anyone', 1194),
             ('drove', 230),
             ('difficult', 450),
             ('find', 3107),
             ('entrance', 650),
             ('self', 454),
             ('couple', 1895),
             ('dining', 931),
             ('option', 1193),
             ('around', 4778),
             ('definitely', 3435),
             ('dc', 741),
             ('bellhop', 108),
             ('informative', 78),
             ('helpful', 6072),
             ('loved', 1949),
             ('history', 308),
             ('surrounding', 251),
             ('absolutely', 942),
             ('construction', 579),
             ('going', 2807),
             ('noisy', 1238),
             ('week', 2020),
             ('already', 748),
             ('getting', 1509),
             ('ready', 1301),
             ('enjoy', 1050),
             ('expected', 1116),
             ('lot', 4515),
             ('anyway', 553),
             ('faze', 2),
             ('planning', 321),
             ('sleeping', 574),
             ('may', 1446),
             ('space', 1934),
             ('desk', 8123),
             ('answering', 51),
             ('question', 569),
             ('information', 421),
             ('restrauant', 1),
             ('could', 7425),
             ('waiter', 269),
             ('charlie', 27),
             ('assistant', 43),
             ('best', 3754),
             ('friend', 1823),
             ('recently', 1087),
             ('enjoyed', 1900),
             ('polite', 630),
             ('helpfull', 120),
             ('convenient', 1861),
             ('nyc', 2452),
             ('value', 1867),
             ('westside', 18),
             ('midtown', 381),
             ('access', 1790),
             ('subway', 1791),
             ('ave', 618),
             ('safe', 1705),
             ('single', 629),
             ('female', 110),
             ('traveller', 272),
             ('basic', 776),
             ('frill', 133),
             ('establishment', 188),
             ('easily', 650),
             ('accessible', 230),
             ('walking', 3710),
             ('theatre', 401),
             ('fifth', 157),
             ('shopping', 2015),
             ('saved', 212),
             ('compared', 399),
             ('miracle', 42),
             ('doorman', 650),
             ('quiet', 2776),
             ('took', 2598),
             ('north', 614),
             ('evanston', 1),
             ('etc', 2523),
             ('class', 521),
             ('reunion', 67),
             ('rock', 338),
             ('parked', 350),
             ('walked', 1392),
             ('everywhere', 694),
             ('felt', 1860),
             ('perfectly', 496),
             ('river', 793),
             ('beale', 146),
             ('noisey', 40),
             ('ear', 156),
             ('plug', 279),
             ('problem', 3407),
             ('joined', 52),
             ('peobdy', 1),
             ('everything', 3879),
             ('mall', 789),
             ('however', 3323),
             ('plenty', 1477),
             ('resuarants', 1),
             ('frount', 3),
             ('always', 3211),
             ('direction', 749),
             ('security', 715),
             ('fine', 2041),
             ('elevater', 1),
             ('without', 1669),
             ('card', 1321),
             ('son', 575),
             ('life', 473),
             ('san', 2710),
             ('diego', 926),
             ('married', 74),
             ('fiance', 74),
             ('hail', 47),
             ('ohio', 34),
             ('maryland', 11),
             ('arranged', 213),
             ('property', 2329),
             ('extra', 1896),
             ('benefit', 134),
             ('parking', 5259),
             ('gone', 350),
             ('ownership', 25),
             ('complete', 356),
             ('updating', 206),
             ('lovely', 1711),
             ('bungalow', 30),
             ('planned', 234),
             ('town', 1619),
             ('guest', 3424),
             ('sunday', 459),
             ('dockside', 2),
             ('conference', 1219),
             ('wedding', 715),
             ('rehearsal', 13),
             ('dinner', 1798),
             ('offsite', 9),
             ('paradise', 53),
             ('point', 1543),
             ('allowing', 55),
             ('shuttle', 1705),
             ('accommodating', 608),
             ('large', 3861),
             ('group', 767),
             ('hosted', 44),
             ('food', 4448),
             ('ambiance', 155),
             ('fitting', 73),
             ('end', 1637),
             ('celebration', 88),
             ('kudos', 86),
             ('catering', 85),
             ('manager', 1914),
             ('karen', 12),
             ('cipolla', 1),
             ('helping', 186),
             ('together', 269),
             ('returnd', 1),
             ('ireland', 25),
             ('ever', 2088),
             ('visit', 2245),
             ('delighted', 106),
             ('know', 2377),
             ('expect', 1612),
             ('pleased', 709),
             ('comfortable', 7120),
             ('thanks', 662),
             ('bottle', 796),
             ('cooky', 438),
             ('strongly', 123),
             ('comfy', 994),
             ('appointed', 745),
             ('par', 147),
             ('course', 784),
             ('conrad', 86),
             ('delicious', 603),
             ('valet', 1933),
             ('accross', 50),
             ('spent', 1346),
             ('hampton', 446),
             ('inn', 2360),
             ('ideally', 89),
             ('within', 2588),
             ('distance', 2564),
             ('southstreet', 1),
             ('seaport', 115),
             ('brooklyn', 84),
             ('bridge', 263),
             ('able', 1835),
             ('ground', 672),
             ('zero', 149),
             ('extremely', 2088),
             ('complimentary', 1381),
             ('substantial', 32),
             ('rate', 3040),
             ('cool', 970),
             ('kinda', 113),
             ('set', 956),
             ('madman', 1),
             ('meet', 338),
             ('lincoln', 116),
             ('guy', 814),
             ('wear', 183),
             ('handtied', 1),
             ('bowtie', 2),
             ('girl', 570),
             ('polkadots', 1),
             ('dress', 80),
             ('uniform', 23),
             ('ted', 6),
             ('baker', 4),
             ('size', 2523),
             ('feel', 2654),
             ('newly', 231),
             ('renovated', 638),
             ('nicer', 518),
             ('love', 1287),
             ('wait', 1664),
             ('senior', 38),
             ('crowne', 213),
             ('plaza', 590),
             ('positive', 637),
             ('matress', 24),
             ('thats', 155),
             ('negative', 856),
             ('window', 2367),
             ('shut', 260),
             ('warm', 936),
             ('shower', 3635),
             ('must', 1111),
             ('least', 1202),
             ('carpet', 1148),
             ('website', 806),
             ('advertise', 60),
             ('guess', 631),
             ('pretty', 2215),
             ('big', 2868),
             ('disappointment', 273),
             ('work', 2800),
             ('called', 2444),
             ('plate', 273),
             ('hardly', 209),
             ('went', 3628),
             ('andrew', 30),
             ('continental', 926),
             ('fino', 7),
             ('unwind', 48),
             ('user', 61),
             ('price', 5294),
             ('provides', 204),
             ('itinerary', 15),
             ('preference', 103),
             ('insider', 11),
             ('favorite', 457),
             ('cheap', 947),
             ('bathroom', 7268),
             ('small', 7095),
             ('port', 152),
             ('authority', 70),
             ('restaurant', 8284),
             ('fast', 694),
             ('kitchen', 962),
             ('v', 245),
             ('looked', 1757),
             ('fairly', 604),
             ('although', 2373),
             ('quite', 2980),
             ('busy', 1238),
             ('given', 1666),
             ('often', 556),
             ('awhile', 68),
             ('minor', 423),
             ('inconvenience', 220),
             ('overall', 2839),
             ('teen', 99),
             ('daughter', 899),
             ('hyatt', 895),
             ('regency', 122),
             ('overnight', 411),
             ('birthday', 623),
             ('late', 1722),
             ('january', 153),
             ('pleasant', 1726),
             ('professional', 807),
             ('immaculately', 54),
             ('nicely', 816),
             ('furnished', 268),
             ('ordered', 513),