### Sentiment movies reviews
The dataset is comprised of tab-separated files with phrases from the Rotten Tomatoes dataset. The train/test split has been preserved for the purposes of benchmarking, but the sentences have been shuffled from their original order. Each Sentence has been parsed into many phrases by the Stanford parser. Each phrase has a PhraseId. Each sentence has a SentenceId. Phrases that are repeated (such as short/common words) are only included once in the data.

train.tsv contains the phrases and their associated sentiment labels. We have additionally provided a SentenceId so that you can track which phrases belong to a single sentence.
test.tsv contains just phrases. You must assign a sentiment label to each phrase.
The sentiment labels are:

0 - negative
1 - somewhat negative
2 - neutral
3 - somewhat positive
4 - positive

the [data](https://www.kaggle.com/c/sentiment-analysis-on-movie-reviews/data) splited into two section (train and test)

In [1]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
train_data = []
with open("C:/Users/natdanai.intraraksa/Documents/ML-projects/sentiment-analysis-on-movie-reviews/train.tsv") as tsvfile:
# with open("C:/Users/n_int/Documents/ML project/ML-projects/sentiment-analysis-on-movie-reviews/train.tsv") as tsvfile:
    train = csv.reader(tsvfile,delimiter = '\t')
    for row in train:
        train_data.append(row)
train_data = pd.DataFrame(train_data[1:],columns=train_data[0])

In [4]:
test_data = []
with open("C:/Users/natdanai.intraraksa/Documents/ML-projects/sentiment-analysis-on-movie-reviews/test.tsv") as tsvfile:
# with open("C:/Users/n_int/Documents/ML project/ML-projects/sentiment-analysis-on-movie-reviews/test.tsv") as tsvfile:
    test = csv.reader(tsvfile,delimiter = '\t')
    for row in test:
        test_data.append(row)
test_data = pd.DataFrame(test_data[1:],columns=test_data[0])

In [ ]:
train_data.set_index('PhraseId',inplace=True)
test_data.set_index('PhraseId',inplace=True)

In [5]:
train_data.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [6]:
test_data.head()

  PhraseId SentenceId                                             Phrase
0   156061       8545  An intermittently pleasing but mostly routine ...
1   156062       8545  An intermittently pleasing but mostly routine ...
2   156063       8545                                                 An
3   156064       8545  intermittently pleasing but mostly routine effort
4   156065       8545         intermittently pleasing but mostly routine

In [ ]:
# train_data.drop(columns='PhraseId',inplace=True)
# test_data.drop(columns='PhraseId',inplace=True)

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156060 entries, 0 to 156059
Data columns (total 4 columns):
PhraseId      156060 non-null object
SentenceId    156060 non-null object
Phrase        156060 non-null object
Sentiment     156060 non-null object
dtypes: object(4)
memory usage: 4.8+ MB

In [8]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66292 entries, 0 to 66291
Data columns (total 3 columns):
PhraseId      66292 non-null object
SentenceId    66292 non-null object
Phrase        66292 non-null object
dtypes: object(3)
memory usage: 1.5+ MB

In [9]:
train_data['SentenceId'] = train_data.SentenceId.astype(int,inplace = True)
test_data['SentenceId'] = test_data.SentenceId.astype(int,inplace = True)
train_data['Sentiment'] = train_data.Sentiment.astype(int,inplace = True)

In [39]:
for senid in train_data['SentenceId'].unique():
    length = train_data[train_data.SentenceId == senid]['Phrase'].apply(lambda x:len(x)).max()
    idx = train_data[train_data.SentenceId == senid]['Phrase'].apply(lambda x:len(x)).idxmax()
        
#     b = train_data[train_data.Phrase == "{}".format(senid)].Phrase.apply(lambda x:len(x))
#     for i,contex in enumerate(train_data[train_data.iloc[:,0]=="{}".format(senid)].iloc[:,1]):

In [10]:
# for senid in train_data['SentenceId'].unique():
#     print(train_data[train_data.SentenceId == senid]['Phrase'].apply(lambda x:len(x)).max())

In [ ]:
train_data[train_data.iloc[:,0]=="1"].iloc[:,1]

In [ ]:
train_data[train_data['SentenceId']=='1']

In [ ]:
len(a.Phrase)

In [ ]:
max_len = a.Phrase.apply(lambda x:len(x)).max()

In [ ]:
max_len

In [15]:
length

137

In [14]:
a = train_data.iloc[:3,:]
b = train_data.iloc[3:6,:]

In [22]:
c = pd.concat([a,b],axis= 0)

In [23]:
c

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2
5,6,1,of escapades demonstrating the adage that what...,2

In [37]:
c.Phrase.apply(lambda x:len(x)).idxmax()

0

In [27]:
d

{1, 2, 4}