### Sentiment movies reviews
The dataset is comprised of tab-separated files with phrases from the Rotten Tomatoes dataset. The train/test split has been preserved for the purposes of benchmarking, but the sentences have been shuffled from their original order. Each Sentence has been parsed into many phrases by the Stanford parser. Each phrase has a PhraseId. Each sentence has a SentenceId. Phrases that are repeated (such as short/common words) are only included once in the data.

train.tsv contains the phrases and their associated sentiment labels. We have additionally provided a SentenceId so that you can track which phrases belong to a single sentence.
test.tsv contains just phrases. You must assign a sentiment label to each phrase.
The sentiment labels are:

0 - negative
1 - somewhat negative
2 - neutral
3 - somewhat positive
4 - positive

the [data](https://www.kaggle.com/c/sentiment-analysis-on-movie-reviews/data) splited into two section (train and test)

In [43]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt
%matplotlib inline

In [44]:
train_data = []
with open("C:/Users/natdanai.intraraksa/Documents/Project/ML-projects/data/train.tsv") as tsvfile:
    train = csv.reader(tsvfile,delimiter = '\t')
    for row in train:
        train_data.append(row)
train_data = pd.DataFrame(train_data[1:],columns=train_data[0])

In [45]:
test_data = []
with open("C:/Users/natdanai.intraraksa/Documents/Project/ML-projects/data/test.tsv") as tsvfile:
    test = csv.reader(tsvfile,delimiter = '\t')
    for row in test:
        test_data.append(row)
test_data = pd.DataFrame(test_data[1:],columns=test_data[0])

In [47]:
train_data.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [48]:
test_data.head()

  PhraseId SentenceId                                             Phrase
0   156061       8545  An intermittently pleasing but mostly routine ...
1   156062       8545  An intermittently pleasing but mostly routine ...
2   156063       8545                                                 An
3   156064       8545  intermittently pleasing but mostly routine effort
4   156065       8545         intermittently pleasing but mostly routine