### Sentiment movies reviews
The dataset is comprised of tab-separated files with phrases from the Rotten Tomatoes dataset. The train/test split has been preserved for the purposes of benchmarking, but the sentences have been shuffled from their original order. Each Sentence has been parsed into many phrases by the Stanford parser. Each phrase has a PhraseId. Each sentence has a SentenceId. Phrases that are repeated (such as short/common words) are only included once in the data.

train.tsv contains the phrases and their associated sentiment labels. We have additionally provided a SentenceId so that you can track which phrases belong to a single sentence.
test.tsv contains just phrases. You must assign a sentiment label to each phrase.
The sentiment labels are:

0 - negative
1 - somewhat negative
2 - neutral
3 - somewhat positive
4 - positive

the [data](https://www.kaggle.com/c/sentiment-analysis-on-movie-reviews/data) splited into two section (train and test)

In [1]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train_data = []
# with open("C:/Users/natdanai.intraraksa/Documents/ML-projects/sentiment-analysis-on-movie-reviews/train.tsv") as tsvfile:
with open("C:/Users/n_int/Documents/ML project/ML-projects/sentiment-analysis-on-movie-reviews/train.tsv") as tsvfile:
    train = csv.reader(tsvfile,delimiter = '\t')
    for row in train:
        train_data.append(row)
train_data = pd.DataFrame(train_data[1:],columns=train_data[0])

In [3]:
test_data = []
# with open("C:/Users/natdanai.intraraksa/Documents/ML-projects/sentiment-analysis-on-movie-reviews/test.tsv") as tsvfile:
with open("C:/Users/n_int/Documents/ML project/ML-projects/sentiment-analysis-on-movie-reviews/test.tsv") as tsvfile:
    test = csv.reader(tsvfile,delimiter = '\t')
    for row in test:
        test_data.append(row)
test_data = pd.DataFrame(test_data[1:],columns=test_data[0])

In [4]:
solution = pd.read_csv('../ML-projects/sentiment-analysis-on-movie-reviews/sampleSubmission.csv')

In [5]:
# train_data.set_index('PhraseId',inplace=True)
# test_data.set_index('PhraseId',inplace=True)

In [6]:
train_data.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [7]:
test_data.head()

  PhraseId SentenceId                                             Phrase
0   156061       8545  An intermittently pleasing but mostly routine ...
1   156062       8545  An intermittently pleasing but mostly routine ...
2   156063       8545                                                 An
3   156064       8545  intermittently pleasing but mostly routine effort
4   156065       8545         intermittently pleasing but mostly routine

In [8]:
# train_data.drop(columns='PhraseId',inplace=True)
# test_data.drop(columns='PhraseId',inplace=True)

In [9]:
train_data['SentenceId'] = train_data.SentenceId.astype('int64',inplace = True)
test_data['SentenceId'] = test_data.SentenceId.astype('int64',inplace = True)
train_data['Sentiment'] = train_data.Sentiment.astype('int64',inplace = True)
train_data['PhraseId'] = train_data.SentenceId.astype('int64',inplace = True)
test_data['PhraseId'] = test_data.SentenceId.astype('int64',inplace = True)

In [10]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156060 entries, 0 to 156059
Data columns (total 4 columns):
PhraseId      156060 non-null int64
SentenceId    156060 non-null int64
Phrase        156060 non-null object
Sentiment     156060 non-null int64
dtypes: int64(3), object(1)
memory usage: 4.8+ MB

In [11]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66292 entries, 0 to 66291
Data columns (total 3 columns):
PhraseId      66292 non-null int64
SentenceId    66292 non-null int64
Phrase        66292 non-null object
dtypes: int64(2), object(1)
memory usage: 1.5+ MB

In [12]:
df_train = pd.DataFrame(columns=train_data.columns)
for senid in train_data['SentenceId'].unique():
    length = train_data[train_data.SentenceId == senid]['Phrase'].apply(lambda x:len(x)).max()
    idx = train_data[train_data.SentenceId == senid]['Phrase'].apply(lambda x:len(x)).idxmax()
    temp = train_data.iloc[[idx]]
    df_train = pd.concat([df_train,temp])
        
#     b = train_data[train_data.Phrase == "{}".format(senid)].Phrase.apply(lambda x:len(x))
#     for i,contex in enumerate(train_data[train_data.iloc[:,0]=="{}".format(senid)].iloc[:,1]):

In [13]:
df_test = pd.DataFrame(columns=test_data.columns)
for senid in test_data['SentenceId'].unique():
    length = test_data[test_data.SentenceId == senid]['Phrase'].apply(lambda x:len(x)).max()
    idx = test_data[test_data.SentenceId == senid]['Phrase'].apply(lambda x:len(x)).idxmax()
    temp = test_data.iloc[[idx]]
    df_test = pd.concat([df_test,temp])

In [14]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8529 entries, 0 to 156039
Data columns (total 4 columns):
PhraseId      8529 non-null object
SentenceId    8529 non-null object
Phrase        8529 non-null object
Sentiment     8529 non-null object
dtypes: object(4)
memory usage: 333.2+ KB

In [15]:
df_train.head(10)

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
63,2,2,"This quiet , introspective and entertaining in...",4
81,3,3,"Even fans of Ismail Merchant 's work , I suspe...",1
116,4,4,A positively thrilling combination of ethnogra...,3
156,5,5,Aggressive self-glorification and a manipulati...,1
166,6,6,A comedy-drama of nearly epic proportions root...,4
198,7,7,"Narratively , Trouble Every Day is a plodding ...",1
213,8,8,"The Importance of Being Earnest , so thick wit...",3
247,9,9,But it does n't leave you with much .,1
259,10,10,You could hate it for the same reason .,1

In [16]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk import regexp_tokenize
sw = stopwords.words('english')
stem = PorterStemmer()

In [17]:
def text_process(text):
    word = text.lower()
    word = word_tokenize(word)
    word = [words for words in word if word not in sw]
    word = [stem.stem(i) for i in word]
    word = " ".join(word)
    word = regexp_tokenize(word,'\w+')
    word = " ".join(word)
    return word

In [18]:
df_train['Phrase'] = df_train['Phrase'].apply(text_process)

In [19]:
df_test['Phrase'] = df_test['Phrase'].apply(text_process)

In [ ]:
# from sklearn.feature_extraction.text import CountVectorizer
# from sklearn.naive_bayes import MultinomialNB
# from sklearn.metrics import classification_report

In [20]:
from tensorflow import keras
from tensorflow.keras.layers import Dense,Embedding
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM
from tensorflow.keras.utils import to_categorical
max_feature = 2000

In [ ]:
X_train = df_train['Phrase']
y_test = df_train['Sentiment']

In [ ]:
X_test = df_test['Phrase']

In [ ]:
model = Sequential()
model.add(Embedding(max_feature,128))
model.add(LSTM(128,dropout=0.2))
model.add(Dense(1,activation='sigmoid'))

In [ ]:
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [ ]:
solution.info()

In [ ]:
a = pd.concat([])

In [ ]:
df_test.info()